{% extends 'base_2.html' %}

{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1 class="mb-4">My Bookings</h1>
    <div class="row">
        <div class="col-50 ">
            {% if bookings %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Flight Number</th>
                    <th scope="col">Departure City</th>
                    <th scope="col">Arrival City</th>
                    <th scope="col">Departure Date</th>
                    <th scope="col">Passenger Name</th>
                    <th scope="col">Fare</th>
                    <th scope="col">Seat Number</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.flight.flight_number }}</td>
                    <td>{{ booking.flight.departure_city }}</td>
                    <td>{{ booking.flight.arrival_city }}</td>
                    <td>{{ booking.flight.departure_date }}</td>
                    <td>{{ booking.passenger }}</td>
                    <td>{{ booking.flight.fare }}</td>
                    <td>{{ booking.seat_number }}</td>
                    <td>
                        <a  href="{% url 'view_ticket' booking.id %}" target="_blank" class="btn btn-primary">View</a>
                    </td>
                    <td>
                        <form action="{% url 'cancel_ticket' booking.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Cancel</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">No bookings found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No bookings found.</p>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="col-50">
        <a href="{% url 'flight_search' %}" class="btn btn-primary btn mr-2">Book Ticket</a>
    </div>
</div>
<br><br>
{% endblock %}
