{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title text-center">User Login</h3>
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="col-12 register-field">
                                <div class="alert alert-block alert-danger">
                                    <ul>
                                         <li>
                                             Please enter a correct username and password.Note that both fields may be case-sensitive.
                                         </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="id_username">Username</label>
                            <input type="text" class="form-control" id="id_username" name="username"
                                   placeholder="Enter username" required>
                        </div>
                        <div class="form-group">
                            <label for="id_password">Password</label>
                            <input type="password" class="form-control" id="id_password" name="password"
                                   placeholder="Enter password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <label>Don't have account? <a href="{% url 'user_signup' %}">Sign Up</a></label>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}
